@charset "utf-8";

// Bulma Customization
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/Roboto_Mono/static/RobotoMono-Medium.ttf);
}

// 2. Set your own initial variables
// Update the blue shade, used for links
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;

$red: #ff1919;
$turquoise: #28cccc;
$blue: #2b00ff;
$yellow: #ffeb40;

// Update the sans-serif font family
$family-sans-serif: "RobotoMono", "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $red;
$primary-invert: $turquoise;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
